{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{% static 'css/base.css' %}"
</head>
<body>
    <h2><a href={% url "Post_view" %}>Homepage</a></h2>

{% if user.is_authenticated %}
    <p> Welcome {{user.username}}</p>
    <p><a href= "{% url 'logout'%}"> Log out </a></p>
{% else %}
    <p> You are not logged in</p>
    <p><a href= "{% url 'login'%}"> Login </a></p>
    <p><a href= "{% url 'signup'%}"> Register </a></p>
{% endif %}

    {%block content%}        
    
    {%endblock content%}

</body>
</html>
